<div class="header">
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="index.html">Product Management</a>
					</div>
						<div class="header_top_right">
							  <form>
					     			<select name="filter" style="height: 36px; float: left;">
					     				<option>All</option>
					     				<option>Price</option>
					     				<option>Book</option>
					     				<option>Computers</option>
					     				<option>Health and Beauty</option>
					     				<option>Home and Garden</option>
					     				<option>Office Supplies</option>
					     				<option>Sport equipment</option>
					     			</select>
					     			<input name="search_key" required="required" style="height: 30px; width: 200px;float: left;" type="text" value="">
					     			<input style="height: 36px; width: 60px;"  type="submit" value="Search">
					     		</form>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
  		    	<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li  class="test">
							<a href="/index.html?category=Book">Book</a>								
						</li>
						<li>
							<a href="/index.html?category=Computer">Computers</a>						
						</li>
						<li>
							<a href="/index.html?category=Health_and_Beauty">Health and Beauty</a>							
						</li>
						<li>
							<a href="/index.html?category=Home_and_Garden">Home andGarden</a>						
						</li>
						<li>
							<a href="/index.html?category=Office_Supplies">Office Supplies</a>					
						</li>
						<li>
							<a href="/index.html?category=Sports_Equipment">Sports Equipment</a>							
						</li>
						<li>
							<a href="card.html">Card</a>
						</li>
						<li>
							<a href="/index.html?category=top10">Top 10</a>
						</li>

					</ul>
					 <span class="left-ribbon"> </span> 
      				 <span class="right-ribbon"> </span>    
  		       </div>
   		    </div>
          </div>
 <div class="main">
 	<div class="wrap">
    	<div class="preview-page">
     				
				  <div class="contact-form">
				  	<h3>Change password</h3>
				  	<div style="width: 100%; height: 100%;">  

				  	<label  style="color: red;">{{message}}</label>

				  	{{# if notify}}
				  		<form id='form' style="width: 50%;" >

						  	<div>
						  		<div>
						  			<label>New Password:</label>					  				
						  		</div>
						  		<div>
						  			<input type="password" name="newpassword" required="required" style="height: 30px;">
						  		</div>
						  		<div>
						  			<label>ReNew Password:</label>					  				
						  		</div>
					  			<div>
					  				<input name="renewpassword" required="required" type="password" style="height: 30px;" >
					  			</div>
						  		<input name="hidden_email" value="{{email}}" style="display:none;">
						  			
						  		<div>
						  			<input type="submit" value="Save" style="height: 34px; width:100px; border: none;background-color: #4CAF50;color: white;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">
						  		</div>
					  	</form>
				  	{{else}}

					  	
	                    <form id='form' style="width: 50%;">

						  	<div>
						  		<label>Email:</label>
					  			<input name="email" type="text" >
						  		</div>
						  			
						  		<div>
						  			<input type="submit" value="Continue" required="required" style="height: 34px; width:100px; border: none;background-color: #4CAF50;color: white;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">
						  		</div>
					  	</form>

				  	{{/if}}
				  	 
               		 

				  	</div>
					    
				  </div>
			  </div>		
         </div> 
    </div>
 </div>
   
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"> </a>
         <script type="text/javascript" src="js/navigation.js"></script>